[Desktop Entry]
Name=Hardened Firefox
Name[tr]=Sertleştirilmiş Firefox
Name[bg]=Укрепен Firefox
Name[ca]=Firefox Endurit
Name[cs]=Zesílený Firefox
Name[el]=Ενισχυμένος Firefox
Name[es]=Firefox Reforzado
Name[fa]=فایرفاکس تقویت‌شده
Name[fi]=Kovennettu Firefox
Name[fr]=Firefox Renforcé
Name[hu]=Megerősített Firefox
Name[it]=Firefox Rafforzato
Name[ja]=強化版Firefox
Name[ko]=강화된 Firefox
Name[nb]=Herdet Firefox
Name[nl]=Verstevigde Firefox
Name[nn]=Forsterka Firefox
Name[no]=Forsterket Firefox
Name[pl]=Wzmocniony Firefox
Name[pt]=Firefox Reforçado
Name[pt_BR]=Firefox Reforçado
Name[ru]=Усиленный Firefox
Name[sk]=Zabezpečený Firefox
Name[sv]=Förstärkt Firefox

Comment=A hardened and isolated version of Firefox, focused on security.
Comment[tr]=Güvenliğe odaklanan, güçlendirilmiş ve izole edilmiş bir Firefox sürümü.
Comment[bg]=Подсилена и изолирана версия на Firefox, фокусирана върху сигурността.
Comment[ca]=Una versió endurida i aïllada de Firefox centrada en la seguretat.
Comment[cs]=Zesílená a izolovaná verze Firefoxu se zaměřením na bezpečnost.
Comment[de]=Gehärtete und isolierte Firefox-Version mit Fokus auf Sicherheit.
Comment[el]=Μια σκληρυμένη και απομονωμένη έκδοση του Firefox με έμφαση στην ασφάλεια.
Comment[es]=Una versión endurecida y aislada de Firefox centrada en la seguridad.
Comment[fa]=نسخه‌ای ایزوله و تقویت‌شده از فایرفاکس با تمرکز بر امنیت.
Comment[fi]=Firefoxin kovennettu ja eristetty versio, keskittyy turvallisuuteen.
Comment[fr]=Une version renforcée et isolée de Firefox axée sur la sécurité.
Comment[hu]=A Firefox egy megerősített és izolált verziója, amely a biztonságra összpontosít.
Comment[it]=Una versione rafforzata e isolata di Firefox focalizzata sulla sicurezza.
Comment[ja]=セキュリティに重点を置いた、強化されたFirefoxのバージョンです。
Comment[ko]=보안에 중점을 둔 강화된 Firefox 버전입니다.
Comment[nb]=En herdet og isolert versjon av Firefox med fokus på sikkerhet.
Comment[nl]=Een geïsoleerde en verstevigde versie van Firefox gericht op veiligheid.
Comment[nn]=Ei forsterka og isolert utgåve av Firefox med fokus på tryggleik.
Comment[no]=En forsterket og isolert utgave av Firefox med fokus på sikkerhet.
Comment[pl]=Zabezpieczona i izolowana wersja Firefoxa skoncentrowana na bezpieczeństwie.
Comment[pt]=Uma versão reforçada e isolada do Firefox com foco na segurança.
Comment[pt_BR]=Uma versão reforçada e isolada do Firefox com foco em segurança.
Comment[ru]=Усиленная и изолированная версия Firefox, ориентированная на безопасность.
Comment[sk]=Zabezpečená a izolovaná verzia Firefoxu zameraná na bezpečnosť.
Comment[sv]=En förstärkt och isolerad version av Firefox med fokus på säkerhet.

GenericName=Web Browser
GenericName[tr]=Web Tarayıcı
GenericName[fr]=Navigateur Web
GenericName[de]=Webbrowser
GenericName[it]=Browser Web
GenericName[es]=Navegador web
GenericName[pt]=Navegador da Web
GenericName[ru]=Веб-браузер
GenericName[zh_CN]=网页浏览器
GenericName[ja]=ウェブブラウザー
GenericName[ko]=웹 브라우저
GenericName[pl]=Przeglądarka internetowa
GenericName[uk]=Веб-браузер
GenericName[nl]=Webbrowser
GenericName[cs]=Webový prohlížeč
GenericName[sv]=Webbläsare

X-GNOME-FullName=Hardened Firefox
X-GNOME-FullName[tr]=Güçlendirilmiş Firefox
X-GNOME-FullName[fr]=Navigateur Web renforcé
X-GNOME-FullName[de]=Webbrowser
X-GNOME-FullName[it]=Browser Web
X-GNOME-FullName[es]=Navegador web
X-GNOME-FullName[pt]=Navegador da Web
X-GNOME-FullName[ru]=Веб-браузер
X-GNOME-FullName[zh_CN]=网页浏览器
X-GNOME-FullName[ja]=ウェブブラウザー
X-GNOME-FullName[ko]=웹 브라우저
X-GNOME-FullName[pl]=Przeglądarka internetowa
X-GNOME-FullName[uk]=Веб-браузер
X-GNOME-FullName[nl]=Webbrowser
X-GNOME-FullName[cs]=Webový prohlížeč
X-GNOME-FullName[sv]=Webbläsare

Exec=/usr/lib/firefox-esr/firefox-esr %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/fangbull/hardened-firefox.png
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=firefox-esr
StartupNotify=true
